certifi
charset-normalizer
click
dataclasses
Flask
Flask-Cors
gitdb
GitPython
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
requests
six
smmap
typing-extensions
urllib3
Werkzeug
zipp
